
<div class="card" style="width: 18rem;">
  <img  class="card-img-top" src="<%= personaje.img %>" width="130" height="260"></img>
  <div class="card-body">
    <h5 class="card-title"> id: <%= personaje.id %></h5>

    <p>
      <strong>Name:</strong>
      <%= personaje.name %>
    </p>

    <p>
      <strong>Lastname:</strong>
      <%= personaje.lastname %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= personaje.age %>
    </p>

    <p>
      <strong>Serie:</strong>
      <%= personaje.serie %>
    </p>

    <p class="btn btn-primary">
      <%= link_to "Show this personaje", personaje %>
    </p>
  </div>
</div>