<div id="<%= dom_id personaje %>">
  <p>
    <strong>Name:</strong>
    <%= personaje.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= personaje.lastname %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= personaje.age %>
  </p>

  <p>
    <strong>Serie:</strong>
    <%= personaje.serie %>
  </p>

  <img src="<%= personaje.img %>" width="220"></img>

</div>
