<p style="color: green"><%= notice %></p>
<div id="ShowPj">
  <img  src="<%= @personaje.img %>" width="230" height="280"></img>
  <div id="data_pj">
      <p>
        <strong>Name:</strong>
        <%= @personaje.name %>
      </p>
      <p>
        <strong>Lastname:</strong>
        <%= @personaje.lastname %>
      </p>
      <p>
        <strong>Age:</strong>
        <%= @personaje.age %>
      </p>
      <p>
        <strong>Serie:</strong>
        <%= @personaje.serie %>
      </p>
  </div>
</div>
<div>
  <p id="newPj" class="btn btn-primary">
    <%= link_to "Edit this personaje", edit_personaje_path(@personaje) %> 
  </p>
  <p id="newPj" class="btn btn-danger">
    <%= button_to "Destroy this personaje", @personaje, method: :delete %>
  </p>
</div>
