<div id="<%= dom_id pelicula %>">
  <p>
    <strong>Name:</strong>
    <%= pelicula.name %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= pelicula.img %>
  </p>

  <p>
    <strong>Fondo:</strong>
    <%= pelicula.fondo %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= pelicula.director %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= pelicula.year %>
  </p>

  <p>
    <strong>Stars:</strong>
    <%= pelicula.stars %>
  </p>

</div>
