<div id="<%= dom_id anime %>">
  <p>
    <strong>Name:</strong>
    <%= anime.name %>
  </p>

  <p>
    <strong>Año:</strong>
    <%= anime.año %>
  </p>

  <p>
    <strong>Personajes:</strong>
    <%= anime.personajes %>
  </p>

  <img src="<%= anime.img %>" width="220"></img>

</div>
