<div class="card" style="width: 18rem;">
  <img  class="card-img-top" src="<%= personaje.img %>" width="130" height="260"></img>
  <div class="card-body">
    <h5 class="card-title"> id: <%= personaje.id %></h5>

    <p>
      <strong>Name:</strong>
      <%= producto.nombre %>
    </p>

    <p>
      <strong>Precio:</strong>
      <%= producto.precio %>
    </p>

    <p>
      <strong>Stock:</strong>
      <%= producto.stock %>
    </p>

    <p>
      <strong>Tipo:</strong>
      <%= producto.tipo %>
    </p>

    <p class="btn btn-primary">
      <%= link_to "Show this producto", personaje %>
    </p>
  </div>
</div>